{
  "plugins": [["lodash", { "id": ["async", "lodash-bound"] }]],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 6
      },
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ]
}
