body {
  font-family: "Inconsolata", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #cccccc;
  background: #000;
  height: 100%;
  position: relative;
}

a {
  color: #8C7676;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #8C7676;
  outline: none;
}

p {
  margin-bottom: 1.5em;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Inconsolata", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #f4fbfc;
  background: #2f939a;
}

::-moz-selection {
  color: #f4fbfc;
  background: #2f939a;
}

::selection {
  color: #f4fbfc;
  background: #2f939a;
}

#home {
  background-color: transparent;
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #home {
    background-position: center center;
    background-attachment: initial;
  }
}
#home a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}
#home a:hover {
  color: #fff;
  text-decoration: none;
}
#home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
#home, #home .text-wrap {
  height: 100vh;
}
#home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#home .text-inner {
  display: table-cell;
  vertical-align: middle;
}
#home .text-inner h1 {
  font-size: 60px;
  color: white;
  margin: 0 0 30px 0;
  font-weight: 700;
  line-height: 58px;
}
#home .text-inner h1 span {
  color: #8C7676;
}
@media screen and (max-width: 768px) {
  #home .text-inner h1 {
    font-size: 40px;
  }
}
#home .text-inner h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 60px 0;
}

.to-animate {
  opacity: 0;
}
